button {
    cursor: pointer;
    background: white;
    font-weight: normal;
    border: 2px solid $secondary;
    outline: 0;
    padding: 0.5em;
    min-width: 100px;
    box-shadow: none;
    text-align: center;
    border-radius: 0.5em;
    transition: 0.25s background;
    font-weight: bold;
    &:hover:not([disabled]) {
      background: $secondary;
    }
    &[disabled] {
      background: #EEE;
      cursor: not-allowed;
    }
}