button {
    cursor: pointer;
    background: white;
    outline: 0;
    border: none;
    padding: 5px 10px;
    min-width: 100px;
    box-shadow: none;
    text-align: center;
    border-radius: 0.5em;
    transition: 0.25s background;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    &:hover:not([disabled]) {
      background: $light-grey;
    }
    &[disabled] {
      background: $light-grey;
      cursor: not-allowed;
    }
}