.Posts {
    &__buttons-bar {
        background: $secondaryDimmed;
        margin: 0;
        padding: 0.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        button {
            margin: 0.5em;
        }
    }
}