.Posts {
    &__buttons-bar {
        background: white;
        border-bottom: 1px solid $primary;
        margin: 0;
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        @media (max-width: 700px) {
            justify-content: center;
        }
        button {
            margin: 0.5em;
        }
    }
}