{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ], "@babel/preset-react"],
    "plugins": [
        ["module-resolver", {
            "alias": {
                "~": "./src",
                "react": "preact/compat",
                "react-dom": "preact/compat",
                "hyperactiv/src/react": "hyperactiv/react"
            }
        }]
    ]
}