{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ], "@babel/preset-react"],
    "plugins": [
        ["module-resolver", {
            "alias": {
              "~": "./src",
              "react-dom": "@hot-loader/react-dom"
            }
        }]
    ]
}