
header {
    text-align: center;

    h2 {
        color: #222;
        margin: 0;
        font-size: 3em;
        padding: 0.5em;
    }

    .github-link {
        display: inline-block;
        vertical-align: middle;
        width: 1em;
        transition: all 0.25s;
        margin-left: 0.5em;
        fill: #222;

        &:hover {
            fill: $primary;
        }
    }
}

main {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 950px) {
        margin-top: 3em;
    }
    @media (max-width: 950px) {
        padding: 5px;
    }
    .content {
        @media (min-width: 950px) {
            box-shadow: 2px 2px 8px $grey;
        }
        background: white;
    }
    .heading {
        padding: 1em;
        font-size: 1.5em;
        background: $primary;
        font-family: 'Raleway', sans-serif;
        color: white;

        a.link {
            color: white;
        }
    }
    .view {
        border: 1px solid #eee;
        @media (min-width: 950px) {
            border-top: 0;
        }
        &__padded-content {
            padding: 1em;
        }
    }
}