body {
    margin: 0;
    padding: 0;
    background: white;
    position: relative;
    height: 100vh;
    color: #222;
}

#root {
    height: 100%;
}

header {
    h2.title {
        color: white;
        padding: 0.5em 1em;
        margin: 0;
        font-size: 3em;
        background: #E91E63;
    }
    .subtitle {
        padding: 1em;
        font-size: 1.3em;
        background: #FFEB3B;
        color: white;
    }
}

main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

a.link {
    color: #333;
}
